.boardtitle{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.scoreboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border: #424c51 solid 2px;
  border-radius: 12px;
  width: 45vw;
}

.scorecard, .boardkey{
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-bottom: #424c51 solid 2px;
  font-size: 1.5rem;
  width: 40vw;
}

.rankkey{
  width: 5vw;
}

.rank{
  font-size: 1rem;
  width: 3vw;
  padding-left: 1.2rem;
}

.dotline, .placeholderkey{
  letter-spacing: 2rem;
  font-size: 1rem;
  width: 10vw;
  overflow: hidden;
}

.scorename, .namekey{
  width: 8vw;
}

.scoretime, .timekey{
  width: 11vw;
  text-align: center;
}

.scoredate{
  width: 6vw;
  font-size: 1rem;
  text-align: center;
}

.datekey{
  width: 6vw;
  text-align: center;
}

.scorelabel{
  font-weight: 600;
}
