:root {
  --titlefont: 'Fredericka the Great', serif;
  --defaultfont: 'Podkova', serif;
  background-color: #dee0d4
}

a:-webkit-any-link {
  text-decoration: none;
  color: #424c51;
}

a:-webkit-any-link:hover {
  transform: scale(1.1);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 4px solid black;
  background-color: #e4cdb5;
  z-index: 5;
}

.rightheader {
  position: absolute;
  bottom: 0;
  right: 5rem;
  font-family: var(--defaultfont);
  font-size: 2rem;
  font-weight: 600;
  color: #424c51;
}

.rightheader .boardlink {
  position: absolute;
  bottom: 1.5rem;
  right: 3rem;
}

.title {
  position: absolute;
  top: 50%;
  left: 5rem;
  transform: translateY(-50%);
  font-family: var(--titlefont);
  font-size: 4rem;
  letter-spacing: 1rem;
}

.find {
  color: #424c51;
}

.me {
  color: #749da1;
}

.mainctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  font-family: var(--defaultfont);
  color: #424c51;
  padding: 3rem;
  min-height: 70vh;
}